<script setup lang="ts">
import { inject, type Ref } from 'vue';
import { useReceiptStore } from '@/stores/receipt';
import { useMemberStore } from '@/stores/member'
import dayjs from 'dayjs';

const dialog = inject<Ref<boolean>>('billDialog')
    const receiptStore = useReceiptStore()
    const memberStore= useMemberStore()
</script>
<template>
 <v-dialog
      v-model="dialog"
      width="300"
      height="700"
    >
      <v-card style="font-family: 'Kanit';">
        <v-card-title style="color: rgb(126, 101, 93); font-weight: bold; text-align: center; padding-bottom: 0%;padding-top: 8%;font-size: 20pt;">괜찮아</v-card-title>
        <v-card-text style="color: rgb(126, 101, 93); font-weight: bold; padding-top: 0%;padding-bottom: 0%; text-align: center;">coffee</v-card-text>
        <v-card-text style="color: rgb(126, 101, 93); padding-top: 0%;font-size: 10pt;text-align: center;padding-bottom: 2%;">{{ 'Branch No. '+receiptStore.receipt.id }}</v-card-text>
        <v-card-text style="color: rgb(126, 101, 93); text-align: center; padding:0%; font-size:8pt;">★★★★★★★★★★★★★★★★★★★★★★★★</v-card-text>
        <v-card-text style="color: rgb(126, 101, 93); padding-top: 0%;padding-bottom: 0%; font-size: 10pt;">{{ 'Date Time : '+ dayjs(receiptStore.receipt.createdDate).format('D/M/YYYY H:mm') }}</v-card-text>       
        <v-card-text style="color: rgb(126, 101, 93); padding-top: 0%;padding-bottom: 0%;font-size: 10pt;">{{ 'Cashier : '+ receiptStore.receipt.user?.fullName }}</v-card-text>
        <v-card-text style="color: rgb(126, 101, 93); padding-top: 0%;padding-bottom: 0%; font-size: 10pt;">{{ 'Member : '+ memberStore.currentMember?.name }}</v-card-text>
        <v-card-text style="color: rgb(126, 101, 93); text-align: center; padding: 0%; font-size:8pt;">★★★★★★★★★★★★★★★★★★★★★★★★</v-card-text>

        <v-row>
            <v-col style="color: rgb(126, 101, 93); padding-left: 10%;font-size: 10pt;font-family: 'Kanit';">Item</v-col>
            <v-col style="color: rgb(126, 101, 93); padding-right: 0%;font-size: 10pt;font-family: 'Kanit'; padding-left: 40%;">qty</v-col>
            <v-col style="color: rgb(126, 101, 93); font-size: 10pt;font-family: 'Kanit';text-align: right; padding-right: 10%;">Price</v-col>
        </v-row>
        <v-row v-for="item in receiptStore.receiptItems" :key="item.id">
                    <v-col  cols="6" style="color: rgb(126, 101, 93); padding: 0%; padding-left: 10%; padding-right: 0%;">
                        <v-list-item-title style="font-size: 10pt; ">{{ item.name }} </v-list-item-title>
                    </v-col>
                    <v-col style="padding: 1%; text-align:right; padding-left: 0%;color: rgb(126, 101, 93);">
                        <v-list-item-subtitle> {{ item.unit }}</v-list-item-subtitle>
                    </v-col>
                    <v-col style="padding: 0%;padding-right: 10%;padding-left: 0%;color: rgb(126, 101, 93);">
                        <v-list-item-title style="text-align: right; font-size: 10pt;">
                            {{ (item.price * item.unit).toFixed(2) }}
                        </v-list-item-title>
                    </v-col>
                </v-row>
            <v-row>
                <v-col style="color: rgb(126, 101, 93); text-align: left; padding-left: 10%;padding-bottom: 0%;">Amount</v-col>
                <v-col style="color: rgb(126, 101, 93); text-align: right; padding-right: 10%;padding-bottom: 0%;">{{ receiptStore.receipt.Amount }}</v-col>
            </v-row>
            <v-row>
                <v-col style="color: rgb(126, 101, 93); text-align: left; padding-left: 10%;padding-top: 0%">Discount</v-col>
                <v-col style="color: rgb(126, 101, 93); text-align: right; padding-right: 10%; padding-top: 0%;">{{ ((receiptStore.receipt.Amount)-(receiptStore.receipt.total)).toFixed(2) }}</v-col>
            </v-row>
            <v-row>
                <v-col style="color: rgb(126, 101, 93); text-align: left; padding-left: 10%;padding-top: 0%">Total</v-col>
                <v-col style="color: rgb(126, 101, 93); text-align: right; padding-right: 10%; padding-top: 0%;">{{ receiptStore.receipt.total }}</v-col>
            </v-row>
            <v-card-text style="color: rgb(126, 101, 93); text-align: center; padding: 0%; font-size:8pt; padding-bottom: 0%;">★★★★★★★★★★★★★★★★★★★★★★★★</v-card-text>
            <v-card-text style="color: rgb(126, 101, 93); text-align: center;font-size: 10pt; padding-top: 3%;">THANK YOU</v-card-text>
            <v-img :src="`./public/img/menuPics/bar.jpg`" height="50"></v-img>
        <v-card-actions>
          <v-btn variant="outlined" style="color: rgb(126, 101, 93);" block @click="() => {
            dialog = false
            receiptStore.clear()
          }">Finished</v-btn>
          
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>