<script setup lang="ts">
import { ref, onMounted } from 'vue'

const currentTime = ref(getCurrentTime())

onMounted(() => {
  // Update time every second
  setInterval(() => {
    currentTime.value = getCurrentTime()
  }, 1000)
})

function getCurrentTime() {
  const now = new Date()
  let hours = now.getHours()
  const ampm = hours >= 12 ? 'PM' : 'AM'

  // Convert 24-hour format to 12-hour format
  hours = hours % 12 || 12

  const hoursStr = hours.toString().padStart(2, '0')
  const minutes = now.getMinutes().toString().padStart(2, '0')

  return `${hoursStr}:${minutes} ${ampm}`
}
</script>

<template>
  <div>
    {{ currentTime }}
  </div>
</template>
