<script setup lang="ts">
import type { Product } from '@/types/Products';

const props = defineProps<{
    product:Product
}>()
const emit = defineEmits<{
    selectedProduct:[Product] // selectedProduct(Product p)
}>()
// function select
const selected=function(){
    console.log('ProductCard'+props.product)
    emit('selectedProduct',props.product)
}

</script>
<template>
<v-sheet width="150" height="150" elevation="1" @click="selected">
    <v-img :src="`./public/img/menuPics/Product${product.id}.png`" height="100"></v-img>
    <div style="text-align: center; font-size: 10pt; font-family: 'Kanit';">{{ product.name }}</div>
    <div style="text-align: center; font-size: 10pt; font-family: 'Kanit'">{{ product.price }} บาท</div>
</v-sheet>
</template>